* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    font-family: 'Cabin', sans-serif;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.navbar {
    display: flex;
    list-style: none;
}

.container {
    text-align: center;
    font-weight: lighter;
    margin-top: 10%;
    transform: translateY(-150%);
}
.output {
    margin-top: 2%;
    background: #dfdfdf;
    box-shadow: 0 14px 28px rgba(0,0,0,0), 0 5px 5px rgba(0,0,0,0.2);
    padding: 12px 12px;
    border-radius: 4px;
    margin-left: 40%;
    margin-right: 40%;
}
.output-long {
    margin-left: 30%;
    margin-right: 30%;
}
.wave {
    transform: translateY(20%);
    margin: 0%;
}
@media screen and (max-width: 700px) {
    .output {
      margin-left: 15%;
      margin-right: 15%;
      position: relative;
    }
  }
@media screen and (max-width: 900px) {
    .output {
      margin-left: 20%;
      margin-right: 20%;
      position: relative;
    }
    .container {
        transform: translateY(50%);
      }
  }

@media screen and (max-width: 600px) {
    .container {
      transform: translateY(50%);
    }
  }


.footer-wave {
    background: url(https://svgur.com/i/FFb.svg) repeat-x;
}
.wave-div {
    background: url(https://svgur.com/i/FFb.svg) repeat-x;
}
  /* html, body {
    height: 100%;
}
body {
    background: radial-gradient(ellipse at center, rgba(255, 254, 234, 1) 0%, rgba(255, 254, 234, 1) 35%, #b7e8eb 100%);
    overflow: hidden;
} */
.ocean {
    height: 5%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #015871;
}
.wave {
    background: url(https://svgur.com/i/FDU.svg) repeat-x;
    position: absolute;
    top: -198px;
    width: 6400px;
    height: 198px;
    animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);
}
.wave:nth-of-type(2) {
    top: -175px;
    animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite, swell 7s ease -1.25s infinite;
    opacity: 1;
}
@keyframes wave {
    0% {
        margin-left: 0;
   }
    100% {
        margin-left: -1600px;
   }
}
@keyframes swell {
    0%, 100% {
        transform: translate3d(0, -25px, 0);
   }
    50% {
        transform: translate3d(0, 5px, 0);
   }
}
