<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Random Password Generator</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Actor|Cabin&display=swap" rel="stylesheet">
    
</head>
<body>
    <div class="footer-wave">
        <div class="wave-div">
            <img src="{% static 'images/wave.svg' %}" alt="wave">
        </div>
    </div>
    <div class="container">
    {% block content %}

    {% endblock %}
    

    </div>


</body>
</html>