{% extends 'password/base.html' %}

{% block content %}

    
    <h1>Generate a safe and secure password today.</h1><p>Made by Seamus Donnellan</p>

    <h4>Need a strong password? Head over <a href="{% url 'strong_password' %}">here</a> to generate one</h4>
    <a href="{% url 'weak_password' %}">
        <h4>Generate</h4>
    </a>
    <div class="output">
    <p>{{ random_password }}</p>
    </div>
{% endblock %}