{% extends 'password/base.html' %}

{% block content %}
    <h1>Generate a safe and secure password today.</h1><p>Made by Seamus Donnellan</p>
    <h4>Need a weaker password? Head over <a href="{% url 'weak_password' %}">here</a> to generate one</h4>
    <a href="{% url 'strong_password' %}">
        <h4>Generate</h4>
    </a>
    <div class="output output-long">
    {{ strong_password_gen }}
    </div>
{% endblock %}